body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "PT Mono", Helvetica, Arial, sans-serif!important;
}

.page {
    background: #EEE;
}

.page__main {
    min-height: 150px;
}

.navbar--external {
    font-size:.9em;
}

div.main-header img {
    width: 100%;
}

div.main-header h1 {
    font-size: 14px;
    margin: 60px 0 55px 0;
}

a.create-ui-toggle {
    width: 50px;
    height: 45px;
}

footer {
    margin: 60px 0 30px 0;
}

footer a {
    padding: 0 20px;
}

footer a:hover {
    background: url('../images/ahover.gif') no-repeat 4px 7px;
}

footer div.row.sub-footer {
    margin-top: 60px;
}

footer div.row.sub-footer div a {
    margin: 0;
    padding: 0;
}

footer div.row.sub-footer div a:hover {
    background: none;
}

a {
    color: #000;
}

a:hover {
    color: #000;
    text-decoration: none;
}

.nav>li>a {
    padding: 0 30px;
    margin: 0;
}

.nav>li.active>a, .nav>li>a:hover {
    background: url('../images/ahover.gif') no-repeat 15px 9px;
}

.nav>li {
    border-bottom: solid 1px #000;
}

.navbar {
    border: none;
}

hr {
    border-top: 1px solid #000;
}

@media (min-width: 768px){
    .navbar-nav{
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float:none;
    }
}