body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "PT Mono", Helvetica, Arial, sans-serif!important;
}

.page {
    background: #EEE;
}

.page__main {
    min-height: 150px;
}

.page__hero-unit {
    background: #a3ca5f;
    margin-top: 20px;
}

.page__hero-unit h2 {
    color: #FFF;
}

.page__nav {
    margin-top:40px;
}

.navbar--external {
    font-size:.9em;
}

div.main-header img {
    width: 100%;
}

div.main-header h1 {
    font-size: 14px;
    margin-bottom: 60px;
    margin-top: 60px;
}

a.create-ui-toggle {
    width: 50px;
    height: 45px;
}

footer a {
    margin: 0 10px;
}

a {
    color: #000;
}

a:hover {
    color: #FFF;
    background-color: #000;
    text-decoration: none;
}

li {
    margin: 0;
    padding: 10px 15px;
}

li.active a, li.active a:hover {
    color: #FFF;
    background-color: #000;
}

li.active a {
    margin: 0;
    padding: 0;
}

hr {
    border-top: 1px solid #000;
}

@media (min-width: 768px){
    .navbar-nav{
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float:none;
    }
}