body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "PT Mono", Helvetica, Arial, sans-serif!important;
}

.page {
    background: #EEE;
}

.page__main {
    min-height: 150px;
}

.navbar--external {
    font-size:.9em;
}

div.main-header img {
    width: 100%;
}

div.main-header h1 {
    font-size: 14px;
    margin: 60px 0 55px 0;
}

a.create-ui-toggle {
    width: 50px;
    height: 45px;
}

footer {
    margin: 60px 0 30px 0;
}

footer a {
    padding: 0 20px;
}

footer a:hover {
    background: url('../images/ahover.gif') no-repeat 4px 7px;
}

footer div.row.sub-footer {
    margin-top: 60px;
}

footer div.row.sub-footer div a {
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

footer div.row.sub-footer div a:hover {
    background: none;
    text-decoration: underline;
}

a {
    color: #000;
}

a:hover {
    color: #000;
    text-decoration: none;
}

.nav>li>a {
    padding: 0 30px;
    margin: 0;
}

.nav>li.active>a, .nav>li>a:hover, .nav>li.current_ancestor>a {
    background: url('../images/ahover.gif') no-repeat 15px 9px;
}

.nav>li {
    border-bottom: solid 1px #000;
}

div.left-side-submenu ul.nav.navbar-nav {
    margin: 0;
}

div.left-side-submenu .nav>li {
    border-bottom: none;
    float: none;
    margin: 5px 0;
}

.navbar {
    border: none;
}

.navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float: none;
}

hr {
    border-top: 1px solid #000;
}

/* CUSTOM TOOLBAR */
div.actions.custom-toolbar-wrapper {
    left: 0;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1030;
    overflow: visible;
    min-height: 46px;
    padding: 15px;
    color: #FFF;
    /*background: url("../../bundles/cmfcreate/vendor/create/themes/create-ui/img/create-ui-bg.png") repeat scroll 0 0 transparent;*/
    background-color: rgba(0, 0, 0, .7);
    font-family: "Futura","Helvetica",Arial;
    text-decoration: none;
    font-weight: normal;
}