body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "PT Mono", Helvetica, Arial, sans-serif!important;
}

.page {
    background: #EEE;
}

.page__main {
    min-height: 150px;
}

.page__hero-unit {
    background: #a3ca5f;
    margin-top: 20px;
}

.page__hero-unit h2 {
    color: #FFF;
}

.page__nav {
    margin-top:40px;
}

.navbar--external {
    font-size:.9em;
}

div.main-header img {
    width: 100%;
}

a.create-ui-toggle {
    width: 50px;
    height: 45px;
}

footer a {
    color: #000;
    margin: 0 10px;
}

footer a:hover {
    color: #FFF;
    background-color: #000;
    text-decoration: none;
}

hr {
    border-top: 1px solid #000;
}
