<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Jaume Vidal Arasa{% endblock %}</title>
    {% block stylesheets %}
        {% include "CmfCreateBundle::includecssfiles.html.twig" %}
        <link href="{{ asset('bundles/acmedemo/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/acmedemo/css/demo.css') }}" rel="stylesheet">
    {% endblock %}
    {% block javascripts %}{% endblock %}
</head>
<body class="container page">
    <div class="main-header">
        <img src="{{ asset('bundles/acmedemo/images/mondrian.jpg') }}" alt="Mondrian logo"/>
        <h1 class="text-center">JAUME VIDAL ARASA</h1>
    </div>
    <nav class="navbar navbar-inverse page__nav" role="navigation">
        <div class="container-fluid">
            {{ knp_menu_render('simple', {'template': 'AcmeDemoBundle:Menu:bootstrap.html.twig', 'currentClass': 'active', 'depth': 1}) }}
        </div>
    </nav>
    {#<div class="jumbotron page__hero-unit">#}
        {#{% block hero_unit %}{% endblock %}#}
    {#</div>#}
    <div class="page__main">
        {% block main %}{% endblock %}
    </div>
    <footer class="text-center">
        <a target="_blank" href="https://www.facebook.com/jaume.vidal">facebook</a>
        <a target="_blank" href="https://twitter.com/jaumevidalarasa">twitter</a>
    </footer>
    {% block bottom_scripts %}
        {% render(controller("cmf_create.jsloader.controller:includeJSFilesAction", { "editor": "ckeditor", "_locale": app.request.locale })) %}
    {% endblock %}
</body>
</html>
