{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block title %}{{ cmfMainContent.title }} · {{ parent() }}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-3">
            {% set menuItem = knp_menu_get('simple', ['treball-recent']) %}
            {{ knp_menu_render(menuItem, {'template': 'AcmeDemoBundle:Menu:bootstrap.html.twig', 'currentClass': 'active', 'depth': 1}) }}
        </div>
        <div class="col-md-9">
            {% block worksdetail %}{% endblock %}
        </div>
    </div>
{% endblock %}