{% extends 'AcmeDemoBundle::works.html.twig' %}

{% block worksdetail %}
    {% createphp cmfMainContent as="rdf" noautotag %}
    <div {{ createphp_attributes(rdf) }}>
        <div {{ createphp_attributes( rdf.body ) }}>{{ createphp_content( rdf.body ) }}</div>
    </div>
    {% endcreatephp %}
{% endblock %}

{# REMOVE ADD PAGE BUTTON#}
{% block addPage %}{% endblock %}
