parameters:
    database_driver:   pdo_sqlite
    database_path:     "%kernel.root_dir%/app.sqlite"
    database_host:     null
    database_port:     null
    database_name:     testdb
    database_user:     user
    database_password: pass
    phpcr_backend:
        # use Jackalope Doctrine DBAL
        type: doctrinedbal
        connection: default
        caches:
            meta: doctrine_cache.providers.phpcr_meta
            nodes: doctrine_cache.providers.phpcr_nodes
    phpcr_workspace:   default
    phpcr_user:        admin
    phpcr_password:    admin
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    locale:            en
    locales:           [en, es, ca]
    secret:            ThisTokenIsNotSoSecretChangeIt
    project_web_title: 'my project title'
    global_meta_author: 'my company'
    global_meta_keywords: 'my keywords'
    global_meta_description: 'my description'
    google_analytics_enabled: true
    google_analytics_account: 'UA-XXXXXXXX-Y'
    google_analytics_domain:  'my.domain.com'
    cr_homepage_basepath: '/cms/simple'
