acme_demo_login:
    pattern:  /login
    defaults: { _controller: AcmeDemoBundle:Default:login }

acme_demo_logout:
    pattern:  /logout
    defaults: { _controller: AcmeDemoBundle:Default:logout }

acme_demo_add_page:
    pattern:  /add-page/{parentId}
    defaults: { _controller: AcmeDemoBundle:Default:addPage }
    requirements:
        parentId: .+

acme_demo_remove_page:
    pattern:  /remove-page/{pageId}
    defaults: { _controller: AcmeDemoBundle:Default:removePage }
    requirements:
        pageId: .+
