acme_demo_login:
    pattern:  /admin/login
    defaults: { _controller: AcmeDemoBundle:Default:login }

acme_demo_logout:
    pattern:  /admin/logout
    defaults: { _controller: AcmeDemoBundle:Default:logout }

acme_demo_add_page:
    pattern:  /admin/add-page
    defaults: { _controller: AcmeDemoBundle:Default:addPage }
    methods: [ POST ]

acme_demo_remove_page:
    pattern:  /admin/remove-page/{pageId}
    defaults: { _controller: AcmeDemoBundle:Default:removePage }
    requirements:
        pageId: .+
